@model ProjectFinalEngineer.Models.AggregateContact.Contact

@{
    ViewData["Title"] = "Xóa liên hệ";
}

<head>
    <link rel="stylesheet" href="~/css/Contact/delete.css">
</head>

<section class="contact-main">
    <div class="contact-main-header">
        <header>
            <h3>Xóa liên hệ</h3>
            <p>Hành động này dẫn đến việc liên hệ này bị xóa hoàn toàn</p>
        </header>
    </div>
    <div>
        <article class="contact">
            <div class="contact-article">
                <div class="contact-article-line">
                    <h1>Bạn có thực sự muốn xóa ?</h1>
                    <div class="contact-action">
                        <div class="contact-seed">
                            <a asp-action="Index">
                                <div class="icon"></div>
                                <span>Quay lại danh sách liên hệ</span>
                            </a>
                        </div>
                        <form class="contact-update" asp-action="Delete">
                            <button type="submit">
                                <div class="icon"></div>
                                <span>Xóa liên hệ</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <img class="contact-image" src="~/images/avatars/eloquent-performance-patterns.svg">
        </article>
    </div>
</section>
