@model ProjectFinalEngineer.Models.AggregateContact.Contact
@{
    ViewData["Title"] = "Gửi góp ý";
}
<head>
    <link rel="stylesheet" href="~/css/Contact/SendContact.css">
    <script src="~/js/SendContact.js"></script>
</head>

<section class="ct-main">
    <div class="ct-main-header">
        <header>
            <h3>Liên hệ</h3>
            <p>Chúng tôi luôn lắng nghe ý kiến của bạn.</p>
        </header>
    </div>
    <div>
        <article class="ct">
            <div class="ct-article">
                <div class="fish" id="fish"></div>
                <div class="fish" id="fish2"></div>
                <div class="ct-article-line">
                    <form asp-action="SendContact" class="form-contact">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Message" class="control-label"></label>
                            <textarea rows="5" asp-for="Message" class="form-control"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <div>
                            <input type="submit" value="Gửi liên hệ" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <img class="db-image" src="~/images/avatars/code-katas-with-phpunit.svg"
                 style="width: 310px">
        </article>
    </div>
</section>


