@{
    var message = TempData["StatusMessage"] as string;
}
<head>
    <link rel="stylesheet" href="~/css/AlertMessage/alertmessage.css">
    <script src="~/js/alertmessage.js"></script>
</head>
@if (!string.IsNullOrEmpty(message))
{
    <div id="toast" class="show">
        <img id="toast-icon" src="~/images/Icon/notification-svgrepo-com.svg" />
        <div id="toast-mess">@message</div>
        <button id="toast-btn" onclick="launch_toast()">
            <img src="~/images/Icon/icons8-close.svg" />
        </button>
    </div>
}