@using Microsoft.AspNetCore.Identity
@using App.Models
@using ProjectFinalEngineer.Models.AggregateUser;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<head>
    <link rel="stylesheet" href="~/css/loginpartial.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <script src="~/js/management.js"></script>
</head>

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown-user">
        <button onclick="myDropdownUser()" class="drop-user-btn" asp-action="">
            <i class="far fa-user"></i>
            @UserManager.GetUserName(User)</button>
        <div id="myDropdown-user" class="dropdown-user-content">
            <a asp-controller="Manage" asp-action="Index" title="Tài khoản">
                <i class="far fa-user"></i>
                Thông tin cá nhân
            </a>
            <a asp-controller="Manage" asp-action="ChangePassword">
                <i class="fas fa-unlock"></i>
                Đổi mật khẩu
            </a>
            <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                <button type="submit">
                    <i class="fas fa-sign-out"></i>
                    Đăng xuất
                </button>
            </form>
        </div>
    </div> 
}
else
{
    <i class="fas fa-sign-in-alt"></i>
    <a class="user" asp-controller="Account" asp-action="Login">
        Đăng nhập
    </a>
}