@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@if (result.Succeeded)
{
    <head>
        <link rel="stylesheet" href="~/css/Management/management.css">
        <script src="~/js/management.js"></script>
    </head>
    <div class="dropdown">
        <button onclick="myDropdown()" class="dropbtn" asp-action="">Quản trị</button>
        <div id="myDropdown" class="dropdown-content">
            <a asp-action="ManageDatabase" asp-controller="DbManage">
                Cơ sở dữ liệu
            </a>
            <a asp-action="Index" asp-controller="Contact">
                Quản lý liên hệ
            </a>
            <a asp-action="Index" asp-controller="Role">
                Quản lý vai trò
            </a>
            <a asp-action="Index" asp-controller="User">
                Quản lý thành viên
            </a>
            <a asp-action="Index" asp-controller="Category">
                Quản lý chuyên mục
            </a>
            <a asp-action="Index" asp-controller="Area">
                Quản lý khu vực
            </a>
            <a asp-action="Index" asp-controller="AdminPost">
                Quản lý phê duyệt bài viết
            </a>
            <a asp-action="Index" asp-controller="RoomingHouse">
                Quản lý phê duyệt nhà trọ
            </a>
        </div>
    </div>
}
