@{
    ViewData["Title"] = "Xác thực email";
}

<head>
    <link rel="stylesheet" href="~/css/DatabaseManage/dbmanage.css">
</head>
<section class="db-main">
    <div class="db-main-header">
        <header>
            <h3>@ViewData["Title"]</h3>
            <p>
                Bạn đã hoàn thành xác thực email. 
                Hãy <a asp-controller="Account" asp-action="Login">bấm vào đây để đăng nhập</a>.
            </p>
        </header>
    </div>
</section>

