
@{
    ViewData["Title"] = "Lỗi xác thực email";
}
<head>
    <link rel="stylesheet" href="~/css/DatabaseManage/dbmanage.css">
</head>
<section class="db-main">
    <div class="db-main-header">
        <header>
            <h3>@ViewData["Title"]</h3>
            <p>
                Có lỗi khi xác thực địa chỉ mail
            </p>
        </header>
    </div>
</section>

