
@{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";
}

<head>
    <link rel="stylesheet" href="~/css/Account/forgotpasswordconfirmation.css">
</head>

<section class="category-main">
    <div>
        <partial name="_AlertMessage"></partial>
    </div>
    <div class="category-main-header">
        <header>
        </header>
    </div>
    <div>
        <article class="category">
            <div class="category-article">
                <div class="category-article-line">
                    <div class="category-article-line-title">
                        <h1>Kiểm tra email để lấy lại mật khẩu</h1>
                    </div>
                    <aside class="category-aside">
                        <div class="tips">
                            <p>Nhớ giữ bí mật thư của bạn đừng cho bên thứ 3 biết nhé, chúc bạn một ngày tốt lành</p>
                        </div>
                    </aside>
                </div>
            </div>
            <img class="category-image" src="~/images/avatars/hands-on-community-contributions.svg"
                 style="width: 310px;">
        </article>
    </div>
</section>
