@{
    ViewData["Title"] = "Thông báo xác thực tài khoản";
}
<head>
    <link rel="stylesheet" href="~/css/DatabaseManage/dbmanage.css">
</head>
<section class="db-main">
    <div class="db-main-header">
        <header>
            <h3>@ViewData["Title"]</h3>
            <p>Hãy kiểm tra hòm thư để biết cách xác thực tài khoản</p>
        </header>
    </div>
</section>


