@using ProjectFinalEngineer.Models.AggregateUser;
@model SetUserPasswordModel
@{
    ViewData["Title"] = "Đặt mật khẩu";
}

<head>
    <link rel="stylesheet" href="~/css/User/setpassword.css">
</head>

<section class="userArea-main">
    <div>
        <partial name="_AlertMessage"></partial>
    </div>
    <div class="userArea-main-header">
        <header>
            <h3>Đặt mật khẩu</h3>
            <p>Đây là trang thiết lập mật khẩu cho thành viên trong diễn đàn</p>
        </header>
    </div>
    <div>
        <article class="userArea">
            <div class="userArea-article">
                <div class="userArea-article-line">
                    <h1>Thay đổi mật khẩu @ViewBag.user.UserName</h1>
                    <form class="set-password-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group-password">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" placeholder="Vui lòng nhập mật khẩu"/>
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="form-group-cfpassword">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" placeholder="Vui lòng nhập lại mật khẩu" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group-action">
                          
                            <a class="btn btn-primary" asp-action="Index">Quay lại danh sách thành viên</a>
                            <button type="submit" class="btn btn-primary">Đặt mật khẩu</button>
                        </div>
                    </form>
                </div>
            </div>
            <img class="userArea-image" src="~/images/avatars/developing-serverless-functions.svg"
                 style="width: 310px;">
        </article>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
