
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

button a {
    color: white;
}

button {
    cursor: pointer;
}

#forum {
    display: flex;
    position: absolute;
    top: 30px;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: 0px solid;
    box-sizing: border-box;
}

.container {
    padding: 40px 30px;
}

#forum-wapper {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s ease;
}

    #forum-wapper aside {
        width: 210px;
        top: 40px;
        position: sticky;
        flex: none;
        transition: all 0.5s ease;
    }

.forum-left {
    position: sticky;
}

    .forum-left button {
        padding: 1rem 2rem;
        width: 100%;
        margin-bottom: 2rem;
        background-image: linear-gradient(to right, var(--gradient-stops));
        color: rgb(255 255 255 / var(--text-opacity));
        background-clip: padding-box;
        border-color: transparent;
        border-radius: 16px;
        border-width: 1px;
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0.2px;
        line-height: 1.15;
        text-transform: none;
        background-color: transparent;
        transition: all 0.5s ease;
    }

        .forum-left button:hover {
            --gradient-from: #328af1;
            --gradient-stops: var(--gradient-from), var(--gradient-to, rgba(50, 138, 241, 0));
            --gradient-to: #21c8f6;
            --text-opacity: 1;
        }

    .forum-left .forum-ul {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

.forum-ul li a {
    display: flex;
    color: hsla(0, 0%, 100%, 0.85);
    font-weight: 500;
    font-size: 0.867rem;
    text-align: left;
    padding: 0.5rem 0.75rem;
    border-radius: 12px;
    align-items: center;
}

    .forum-ul li a:hover {
        --bg-opacity: 1;
        font-weight: 500;
        font-size: 0.867rem;
        text-align: left;
        color: rgb(50 138 241 / var(--text-opacity));
        background-color: rgb(24 39 63 / var(--bg-opacity));
    }

        .forum-ul li a:hover span {
            --bg-opacity: 1;
            background-color: rgb(50 138 241 / var(--bg-opacity));
        }

    .forum-ul li a span {
        display: inline-block;
        border-radius: 0.934rem;
        background-color: rgba(50, 138, 241, 0.1);
        width: 9px;
        height: 16px;
        margin-right: 9px;
        transition: all 0.5s ease;
    }

#forum-main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    #forum-main .fm-text {
        display: block;
        color: rgb(255 255 255 / var(--text-opacity));
        height: auto;
    }

.fm-text {
    width: 850px;
}

    .fm-text .fm-head {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        column-gap: 1rem;
    }

        .fm-text .fm-head .fm-filter {
            display: flex;
            flex: 1 1 0%;
            column-gap: 1rem;
        }

.fm-filter .ft-1 {
    display: block;
}

    .fm-filter .ft-1 .select-wrap {
        position: relative;
        outline: none;
    }

.select-wrap select {
    text-transform: none;
    display: flex;
    color: rgb(186 217 252 / var(--text-opacity));
    background-color: rgba(50, 138, 241, 0.13);
    height: 40px;
    padding-right: 50px;
    appearance: none;
    line-height: 1;
    font-size: 0.9rem;
    font-weight: 100;
    padding-left: 1.25rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    border-radius: 9999px;
    align-items: center;
    cursor: pointer;
    outline: none;
    border-color: transparent;
}

    .select-wrap select option {
        font-weight: normal;
        display: block;
        white-space: nowrap;
        min-height: 1.2em;
        padding: 0px 2px 1px;
        color: rgb(186 217 252 / var(--text-opacity));
        --bg-opacity: 1;
        background-color: rgb(18 35 58 / var(--bg-opacity));
    }

.select-wrap svg {
    pointer-events: none;
    position: absolute;
    right: 11px;
    top: 12px;
    color: rgb(186 217 252 / var(--text-opacity));
    fill: currentColor;
    display: block;
    vertical-align: middle;
}

.fm-filter .ft-2 {
    display: block;
}

    .fm-filter .ft-2 .select-wrap {
        position: relative;
    }

.ft-2 .select-wrap svg {
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 13px;
    color: rgb(186 217 252 / var(--text-opacity));
    fill: currentColor;
    display: block;
    vertical-align: middle;
}

.fm-search {
    position: absolute;
    right: 280px;
    display: flex;
    width: 18rem;
    margin-top: 0;
    background-color: rgba(50,138,241,.13);
    border-radius: 9999px;
    height: 40px;
    color: white;
}

    .fm-search .fm-s-lb {
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

        .fm-search .fm-s-lb .search-icon {
            position: relative;
            width: 20px;
            height: 40px;
            margin: 0 auto;
            background-color: transparent;
        }

            .fm-search .fm-s-lb .search-icon .search {
                position: relative;
                width: 5px;
                margin: 0 auto;
                padding: 12px 30px 0 0;
                text-align: center;
            }

.search-icon .search .search_circle {
    width: 11px;
    height: 11px;
    border: 1px solid var(--text-colorchange);
    border-radius: 100px;
}

.search-icon .search .search_rectangle {
    position: absolute;
    right: 13px;
    top: 23px;
    width: 9px;
    transform: rotate(45deg);
    border: 1px solid var(--text-colorchange);
    border-radius: 1px;
}

.fm-search .fm-s-lb .fm-s-input {
    border: none;
    outline: none;
    background: 0 0;
    color: rgb(186 217 252/var(--text-opacity));
    font-size: .8rem;
    padding-top: 0;
    width: 100%;
    height: 100%;
    margin-left: 0.75rem;
}

.contact-element {
    display: flex;
    position: relative;
    background-color: rgb(24 39 63/var(--text-opacity));
    border-radius: 15px;
    padding: 20px ;
    margin: 0;
    transition: all 0.5s ease;
    height: auto;
}

    .contact-element:hover {
        background-color: rgb(25 48 78/var(--text-opacity));
    }

    .contact-element .ct-header:hover {
        text-decoration: underline;
    }

.contact-element-avatar {
    position: absolute;
    display: flex;
}



.contact-element-content {
    display: flex;
    position: relative;
}

.ct-header {
    display: flex;
    margin-left: 70px;
}

    .ct-header h4 {
        display: flex;
        width: 750px;
        align-items: start;
        font-weight: 700;
    }

    .ct-header .ct-header-action {
        display: flex;
        padding: 0 30px;

    }

        .ct-header .ct-header-action a {
            padding: 0 20px;
            height: 40px;
            border-radius: 999px;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 0px 5px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .ct-header .ct-header-action .a1 {
            background-color: transparent;
            color: rgb(58, 185, 129);
            border: 2px solid rgb(58, 185, 129);
        }

            .ct-header .ct-header-action .a1:hover {
                background-color: rgb(58, 185, 129);
                color: white;
            }

        .ct-header .ct-header-action .a2 {
            background-color: transparent;
            color: #F56857;
            border: 2px solid #F56857;
        }

            .ct-header .ct-header-action .a2:hover {
                background-color: #F56857;
                color: white;
            }

    .ct-header h4 a {
        color: white;
        width: 650px;
    }

.ct-header-analytics {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}


.ct-header-analytics-see {
    display: flex;
    padding: 0 5px;
    font-size: 13px;
}

    .ct-header-analytics-see div {
        display: flex;
        align-items: center;
        padding-left: 5px;
    }

.ct-header-analytics-mess {
    display: flex;
    padding: 0 5px;
    font-size: 13px;
}

    .ct-header-analytics-mess div {
        display: flex;
        align-items: center;
        padding-left: 5px;
    }

.ct-header-analytics-filter a {
    width: 105px;
    height: 30px;
}

.soluong {
    padding-top: -10px;
}

.ct-body-content {
    display: flex;
    margin-left: 70px;

    padding-bottom: 10px;
}

.ct-body {
    display: flex;
    margin-left: 70px;
    margin-top: 25px;
}

.ct-body-name {
    letter-spacing: -.02em;
    line-height: 1;
    font-weight: 600;
    font-size: .6666rem;
    color: rgb(50 138 241);
}

.ct-body-time {
    color: rgba(186,217,252,.4);
    font-weight: 600;
    font-size: .6rem;
    margin-left: 70px;
    margin-top: 5px;
}

.container-ex {
    background-image: radial-gradient(circle at 0% 2%, rgb(0, 117, 255), rgb(31, 64, 106) 100%);
    padding: 10px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
    width: 270px;
    height: 100px;
    margin-bottom: 20px;
}

.container-ex-1 {
    /*background-image: linear-gradient(to right, var(--gradient-stops));*/
    padding: 10px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.2s ease-out;
    width: 270px;
    margin-bottom: 20px;
    background-color: rgb(24 39 63/var(--text-opacity));
    height: 230px;
}

    .container-ex-1:hover {
        background-color: rgb(25 48 78/var(--text-opacity));
    }

.container-ex-2 {
    /*background-image: linear-gradient(to right, var(--gradient-stops));*/
    padding: 10px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.2s ease-out;
    width: 270px;
    margin-bottom: 20px;
    background-color: rgb(24 39 63/var(--text-opacity));
    height: 230px;
}

    .container-ex-2:hover {
        background-color: rgb(25 48 78/var(--text-opacity));
    }

    .container-ex-2 .img-ex-2 img {
        margin-left: 50px;
        border-radius: 10px;
        margin-top: 10px;
    }

.title-ex-2 {
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-ex-2 {
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-radius: 8px;
    background-color: #328af1;
    padding: 0px 10px;
    width: 150px;
    margin-left: 50px;
}

    .search-ex-2 a {
        color: white;
    }

.search-box {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
}
    /*.search-box img{
        position: absolute;
        top: 0;
        right: -60px;
        width: 40px;
        height: 40px;
    }*/

    .search-box input {
        color: #06283D;
        width: 170px;
        height: 30px;
        font-size: 13px;
        font-weight: 600;
        margin-left: 30px;
        padding: 5px;
        outline: none;
        border: 2px solid white;
        border-radius: 8px;
    }

        .search-box input::placeholder {
            font-size: 13px;
            font-weight: 600;
            color: rgb(112, 121, 136);
            text-transform: none;
        }

        .search-box input :hover {
            border-color: #328af1;
        }

    .search-box button {
        width: 35px;
        border-radius: 50%;
        height: 35px;
        padding: unset;
        margin: unset;
        margin-left: 10px;
        background-color: none;
    }

        .search-box button i {
            margin-right: 0px;
            font-size: 20px;
        }

.wt-title p {
    display: flex;
    justify-content: center;
    color: white;
}

.search-box .loca-icon {
    position: absolute;
    color: white;
    font-size: 25px;
}

.weather-box {
    text-align: center;
}

    .weather-box img {
        width: 20%;
    }

    .weather-box .temperature {
        position: relative;
        color: #06283D;
        font-size: 1rem;
        font-weight: 800;
        margin-left: -16px;
    }

        .weather-box .temperature span {
            position: absolute;
            margin-left: 4px;
            font-size: 0.5rem;
        }

    .weather-box .description {
        color: #06283D;
        font-size: 10px;
        font-weight: 500;
        text-transform: capitalize;
    }

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

    .weather-details .humidity, .weather-details .wind {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100px;
        padding-bottom: 5px;
    }

    .weather-details .humidity {
        padding-left: 20px;
        justify-content: flex-start;
    }

    .weather-details .wind {
        padding-right: 20px;
        justify-content: flex-end;
    }

    .weather-details i {
        color: #06283D;
        font-size: 13px;
        margin-right: 10px;
    }

    .weather-details span {
        color: #06283D;
        font-size: 13px;
        font-weight: 500;
    }

    .weather-details p {
        color: #06283D;
        font-size: 13px;
        font-weight: 500;
    }

.not-found {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    scale: 0;
    opacity: 0;
    display: none;
    height: 300px;
}

    .not-found img {
        width: 20%;
    }

    .not-found p {
        color: white;
        font-size: 13px;
        font-weight: 500;
    }

.not-location {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    scale: 0;
    opacity: 0;
    display: none;
    height: 100px;
}

    .not-location p {
        color: white;
        font-size: 13px;
        font-weight: 500;
    }

.weather-box, .weather-details {
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}

.gg-result {
    width: 100%;
    display: block;
    justify-content: space-between;
    padding-bottom: 5px;
}

.google-search {
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: -10px;
}

    .google-search div {
        border-radius: 8px;
        background-color: rgb(25 48 78/var(--text-opacity));
        padding: 3px 15px;
    }
.title-details h1{
    color: rgb(255 255 255/var(--text-opacity));
    background-color: rgba(50,138,241,.1);
    word-break: break-word;
    font-weight: 600;
    font-size: 1.134rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.934rem;
    margin-bottom: 1rem;
    margin-left: 70px;
    margin-right: 15px;
    margin-top: 10px;
}
p img {
    width: 300px !important;
}
.ct-body-content img {
    width: 300px !important;
}
.contact-element-avatar .ct-image {
    border-radius: 4px;
    width: 55px;
    height: 55px;
}