@using ProjectFinalEngineer.Models.AggregateManage;
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<head>
    <link rel="stylesheet" href="~/css/Manage/ChangePassword.css">
</head>

<section class="db-main">
    <div class="db-main-header">
        <header>
            <h3>Đổi mật khẩu</h3>
            <p>Thay đổi mật khẩu thường xuyên để nâng cao tính bảo mật khẩu</p>
        </header>
    </div>
    <div>
        @*<img class="db-image" src=""
        style="width: 310px; top:60px; left:-10px;">*@
        <article class="db">
            <div class="db-article">
                <div class="db-article-line">
                    <div class="main-info">
                        <h2>Nhập thông tin để đổi mật khẩu</h2>
                        <div class="card-info">
                            <div class="card-body-info">
                                <form id="profile-form" asp-controller="Manage" asp-action="ChangePassword" method="post" role="form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="OldPassword"></label>
                                        <input asp-for="OldPassword" class="form-control-passcurrent" />
                                        <span asp-validation-for="OldPassword"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NewPassword"></label>
                                        <input asp-for="NewPassword" class="form-control-passcurrentnew" />
                                        <span asp-validation-for="NewPassword"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="form-control-passcurrentnew-cf" />
                                        <span asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                    <button id="update-profile-button" type="submit">Đổi mật khẩu</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="db-image" src="~/images/avatars/undraw_authentication_re_svpt.svg"
                     style="width: 252px; bottom: -1px; right: 15px;">
            </div>
        </article>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
