@using ProjectFinalEngineer.Models.AggregateRole;
@model EditClaimModel
@{
    ViewData["Title"] = "Thêm quyền cho vai trò ";
}
<head>
    <link rel="stylesheet" href="~/css/Role/addroleclaim.css">
</head>

<section class="role-main">
    <div>
        <partial name="_AlertMessage"></partial>
    </div>
    <div class="role-main-header">
        <header>
            <h3>Thêm quyền</h3>
            <p>Thêm một quyền mới cho vai trò @Model.Role.Name.ToLower()</p>
        </header>
    </div>
    <div>
        <article class="role">
            <div class="role-article">
                <div class="role-article-line">
                    <h1>@Model.Role.Name</h1>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ClaimType" class="control-label">Tên quyền</label>
                            <input class ="input-1" asp-for="ClaimType" class="form-control" />
                            <span asp-validation-for="ClaimType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClaimValue" class="control-label"></label>
                            <input class="input-2" asp-for="ClaimValue" class="form-control" />
                            <span asp-validation-for="ClaimValue" class="text-danger"></span>
                        </div>

                        <div class="form-group-action">
                            <a asp-action="Edit" asp-route-roleid="@Model.Role.Id">Quay lại trang quản lý vai trò</a>
                            <input type="submit" value="Tạo mới"/>
                   
                        </div>
                    </form>
                </div>
            </div>
            <img class="role-image" src="~/images/avatars/object-oriented-principles-in-php.svg"
                 style="width: 310px;">
        </article>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
