@using ProjectFinalEngineer.Models.AggregateRole;
@model List<RoleModel>
@{
    ViewData["Title"] = "Danh sách các vai trò";
}
<head>
    <link rel="stylesheet" href="~/css/Role/index.css">
</head>

<section class="role-main">
    <div>
        <partial name="_AlertMessage"></partial>
    </div>
    <div class="role-main-header">
        <header>
            <h3>Quản lý vai trò</h3>
            <p>Đây là trang quản lý vai trò, cấp quyền của hệ thống</p>
        </header>
    </div>
    <div>
        <article class="role">
            <div class="role-article">
                <div class="role-article-line">
                    <h1>Danh sách vai trò</h1>
                    <aside class="role-aside">
                        <dl>
                            <div>
                                <dt>Tên vai trò (Số lượng: @Model.Count)</dt>
                                @foreach (var role in Model)
                                {
                                    <dd> @role</dd>
                                }
                            </div>
                            <div>
                                <dt>Tác vụ</dt>
                                @foreach (var role in Model)
                                {
                                    <dd>
                                        <div class="form-task">
                                            <a class="task1" asp-action="Edit" asp-route-roleid="@role.Id">Cập nhật</a>
                                            <a class="task2" asp-action="Delete" asp-route-roleid="@role.Id">Xóa</a>
                                        </div>
                                    </dd>
                                }
                            </div>
                        </dl>
                    </aside>
                    <div class="role-action">
                        <div class="role-seed">
                            <a asp-action="Create">
                                <div class="icon"></div>
                                <span>Tạo vai trò mới</span>
                            </a>
                        </div>
                        <div class="role-del">
                            <a asp-action="Index" asp-controller="User">
                                <div class="icon"></div>
                                <span>Đi tới trang quản lý thành viên</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <img class="role-image" src="~/images/avatars/object-oriented-principles-in-php.svg"
                 style="width: 310px;">
        </article>
    </div>
</section>
