@model ProjectFinalEngineer.Models.RoomingHouse.RoomingHouse

@{
    ViewData["Title"] = "Xóa bài viết";
    Layout = "~/Views/Shared/_LayoutForum.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Post/Delete.css">
</head>

<section class="contact-main">
    <div class="contact-main-header">
        <header>
            <h3>Xóa bài đăng</h3>
            <p>Hành động dẫn đến việc bài đăng này bị xóa hoàn toàn</p>
        </header>
    </div>
    <div>
        <article class="contact">
            <div class="contact-article">
                <div class="contact-article-line">
                    <h1>Bạn có thực sự muốn xóa ?</h1>
                    <div class="contact-action">
                        <div class="contact-seed">
                            <a asp-action="Index">
                                <div class="icon"></div>
                                <span>Quay lại danh sách bài đăng</span>
                            </a>
                        </div>
                        <form asp-action="Delete" class="contact-update">
                            <input type="hidden" asp-for="Id" />
                            <button type="submit">
                                <div class="icon"></div>
                                <span>Xóa bài viết</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <img class="contact-image" src="~/images/avatars/eloquent-performance-patterns.svg">
        </article>
    </div>
</section>



